[data-theme="light"] {
    div.ant-collapse-content.ant-collapse-content-active div.ant-collapse-content-box div.status-container {
    background-color: #f2f2f2;
    border-style: solid;
    border-color: #CBC9C9;
    border-width: 1px;
    border-radius: 10px;
    padding: 15px;
  }
}

[data-theme="dark"] {
  div.ant-collapse-content.ant-collapse-content-active div.ant-collapse-content-box div.status-container {
    background-color: #424242;
    border-style: solid;
    border-color: #A39F9F;
    border-width: 1px;
    border-radius: 10px;
    padding: 15px;
  }
}

[data-theme="yellow"] {
  div.ant-collapse-content.ant-collapse-content-active div.ant-collapse-content-box div.status-container {
    background-color: #e4d4ac;
    border-style: solid;
    border-color: #AC9E78;
    border-width: 1px;
    border-radius: 10px;
    padding: 15px;
  }
}
