[data-theme="light"] {
  .menu-contrast-custom-theme span,
  .menu-contrast-custom-theme svg {
    color: white;

    a {
      color: white;
    }

    + i {
      color: white;
    }
  }
}
[data-theme="yellow"] {
  .menu-contrast-custom-theme span,
  .menu-contrast-custom-theme svg {
    color: black;

    a {
      color: black;
    }

    + i {
      color: black;
    }
  }
}
