[data-theme="light"] {
  div.status-container {
    background-color: #f2f2f2;
    border-style: solid;
    border-color: #cbc9c9;
    border-width: 1px;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
  }

  div.capture-observartions {
    background-color: #ffffbf;
  }

  div.capture-details {
    background-color: #f4f3ef;
    margin: 20px 0;
  }
}

[data-theme="dark"] {
  div.status-container {
    background-color: #424242;
    border-style: solid;
    border-color: #a39f9f;
    border-width: 1px;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
  }

  div.capture-observartions {
    background-color: #424242;
  }

  div.capture-details {
    background-color: #6f6c6c;
    margin: 30px 0;
  }
}

[data-theme="yellow"] {
  div.status-container {
    background-color: #e4d4ac;
    border-style: solid;
    border-color: #ac9e78;
    border-width: 1px;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
  }

  div.capture-observartions {
    background-color: #ffffbf;
  }

  div.capture-details {
    background-color: #e4d4ac;
    margin: 30px 0;
  }
}

div.ant-row.study-divider {
  border-radius: 0.25em;
  border-style: solid;
  border-width: 1px;
  border-color: #1c91ff;
  background-color: #e6f7ff2f;
  padding: 1em;
  margin: 1.5em;
}

span.ant-typography.result-study {
  color: #1c91ff;
  font-weight: 500;
  margin-left: 0.625em;
}

.ant-btn.ant-btn-primary.ant-btn-sm.update-result {
  background-color: #1c91ff;
  color: #f2f2f2;
  border-color: #1c91ff;
}

.ant-btn.ant-btn-primary.ant-btn-sm.manual-submission {
  background-color: #6EAA46;
  color: #f2f2f2;
  border-color: #6EAA46;
}

.ant-collapse.request-filter-collapse
  > .ant-collapse-item
  > .ant-collapse-header,
.ant-collapse.request-filter-collapse
  > .ant-collapse-item
  .ant-collapse-content-box {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.ant-collapse.request-filter-collapse button ~ button {
  margin-left: 8px;
}

.editor-class {
  background-color: white;
  padding: 2rem;
  border: 1px solid #ccc;
}
.toolbar-class {
  border: 1px solid #ccc;
}
.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}

.upload-list-inline [class*="-upload-list-rtl"] .ant-upload-list-item {
  float: right;
}

.input-placeholder::placeholder {
  color: red;
}

.filter-buttons {
  text-align: right;
  margin-bottom: 10px;
}

.center-input input {
  text-align: center;
}
