@import "~antd/dist/antd.less";

#root {
  height: 100%;
}

#app-layout {
  height: 100%;
}

.site-layout-background {
  background: #fff;
}

// Header
.header {
  padding: 0;
  border-bottom: 1px solid #a6a6a6;
}

.header .header-data > * {
  margin-right: 24px;
}

.menu-options {
  width: 100%;
  padding: 0 12px;
  cursor: pointer;
}

.header .header-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 200px;
}

.header .header-logo-container .ant-image {
  display: flex;
  height: 90%;
}

.header .header-logo-container .ant-image .ant-image-img {
  height: 100%;
  width: auto;
}

// Table
.ant-table-container table > thead > tr:first-child th:first-child {
  border-top-left-radius: 0;
}

.ant-table-container table > thead > tr:first-child th:last-child {
  border-top-right-radius: 0;
}

// Menu
.menu-item span {
  color: white !important;

  a {
    color: white !important;
  }

  + i {
    color: white !important;
  }
  // background: #0070c0;
}

// Encabezados
.header-container {
  padding: 0;

  .ant-page-header-heading-extra {
    display: flex;
    align-items: center;
  }

  .ant-space-item {
    min-width: 35px;
    // text-align: center;
  }
}

.header-container.no-padding {
  padding: 0px 0px 0px 0px;

  .ant-page-header-heading-extra {
    margin: 0;
  }
}

.header-title {
  display: inline-block;
  margin-bottom: 0 !important;

  .ant-image {
    height: 30px;
    width: auto;
    margin-right: 10px;

    img {
      height: 100%;
      width: auto;
    }
  }
}

.header-title-icon {
  margin-right: 10px;
}

.ant-page-header-heading-extra > * {
  margin-left: 12px !important;
}

.header-divider {
  margin: 12px 0;
  border-top: 1px solid #b2b2b2;
}

// Buttons
.ant-col button ~ button {
  margin-left: 12px;
}

.ant-col button ~ .ant-image {
  margin-left: 12px;
}

//login

@media (min-width: 800px) {
  .trapecio-top {
    margin-top: 30px;
    width: 226px;
    height: 183px;
    border-bottom: 60px solid transparent;
    border-top: 60px solid transparent;
    border-left: 279px solid #a80505;
  }
  .vertical-line {
    width: 100px; /* Line width */
    background-color: #253b65; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    float: left; /* Causes the line to float to left of content. You can instead use position:absolute or display:inline-block if this fits better with your design */
  }

  .contenedor-formularios {
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    margin-left: 35%;
  }

  .contenedor {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 4px;
  }

  .contenedor-input {
    position: relative;
    margin-bottom: 40px;
    margin-left: 50%;
  }
}

@media (max-width: 800px) {
  .contenedor {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 4px;
  }

  .contenedor-input {
    position: relative;
    margin-bottom: 40px;
    margin-left: 50%;
  }
  .trapecio-top {
    margin-top: 30px;
    width: 226px;
    height: 183px;
    border-bottom: 60px solid transparent;
    border-top: 60px solid transparent;
    border-left: 279px solid #a80505;
  }
  .vertical-line {
    width: 100px; /* Line width */
    background-color: #253b65; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    float: left; /* Causes the line to float to left of content. You can instead use position:absolute or display:inline-block if this fits better with your design */
  }

  .contenedor-formularios {
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    margin-left: 35%;
  }
}
