@import "~antd/dist/antd.less";

// Mover
.ant-form-item-label
  > label.ant-form-item-required:not(
    .ant-form-item-required-mark-optional
  )::before {
  line-height: 0;
}
// Mover

#root {
  height: 100%;
}

#app-layout {
  height: 100%;
  min-width: 1200px;
}

[data-theme="light"] {
  .site-layout-background {
    background: #fff;
  }

  .site-layout-background.content {
    border-top: 12px solid #fff;
  }

  //Header color for expandable rows
  .header-expandable-table {
    .ant-table-thead .ant-table-cell {
      background-color: #d7d7d7;
    }
  }

  .row-search {
    .ant-table-cell {
      background-color: #eeeeee;
    }
  }
}

[data-theme="dark"] {
  #content-layout.ant-layout {
    background-color: #4a4846;
  }

  .site-layout-background {
    background: #303030;
  }

  .site-layout-background.content {
    border-top: 12px solid #303030;
  }

  //Header color for expandable rows
  .header-expandable-table {
    .ant-table-thead .ant-table-cell {
      background-color: #1f1f1f;
    }
  }

  .row-search {
    .ant-table-cell {
      background-color: #242424;
    }
  }
}

[data-theme="yellow"] {
  #content-layout.ant-layout {
    background-color: #f8e4b1;
  }

  .site-layout-background {
    background: #ebdbb2;
  }

  .site-layout-background.content {
    border-top: 12px solid #ebdbb2;
  }

  //Header color for expandable rows
  .header-expandable-table {
    .ant-table-thead .ant-table-cell {
      background-color: #ccb475;
    }
  }

  .row-search {
    .ant-table-cell {
      background-color: #e9d297;
    }
  }
}

.site-layout-background.content {
  padding: 0px 24px 12px 24px;
  margin: 12px;
  height: 100%;
  overflow-y: auto;
}

// Header
.ant-layout-header.header {
  padding: 0;
  border-bottom: 1px solid #a6a6a6;
}

[data-theme="yellow"] .ant-layout-header.header {
  border-bottom: 1px solid #92783f;
}

.header .header-data > * {
  margin-right: 24px;
}

.menu-options {
  width: 100%;
  padding: 0px;
  cursor: pointer;
}

.menu-options:not(:last-child) {
  border-bottom: 1px solid gray;
}

.header .header-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 200px;
}

.header .header-logo-container .ant-image {
  display: flex;
  height: 90%;
}

.header .header-logo-container .ant-image .ant-image-img {
  height: 100%;
  width: auto;
}

// Disabled
[data-theme="light"] {
  input:disabled {
    color: rgba(0, 0, 0, 0.85) !important;
  }

  .ant-input[disabled] {
    color: rgba(0, 0, 0, 0.85) !important;
  }

  .ant-select-disabled.ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    cursor: default !important;
    color: rgba(0, 0, 0, 0.85) !important;
  }
}

[data-theme="dark"] {
  input:disabled {
    color: rgba(255, 255, 255, 0.85) !important;
  }

  .ant-input[disabled] {
    color: rgba(255, 255, 255, 0.85) !important;
  }

  .ant-select-disabled.ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    cursor: default !important;
    color: rgba(255, 255, 255, 0.85) !important;
  }
}

[data-theme="yellow"] {
  input:disabled {
    color: rgba(55, 46, 25, 1) !important;
  }

  .ant-input[disabled] {
    color: rgba(55, 46, 25, 1) !important;
  }

  .ant-select-disabled.ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    cursor: default !important;
    color: rgba(55, 46, 25, 1) !important;
  }
}

.ant-switch-disabled {
  opacity: 1 !important;
}

.ant-switch-disabled * {
  cursor: default !important;
}

.ant-picker.ant-picker-disabled {
  cursor: default !important;
}

.ant-picker-disabled .ant-picker-range-separator .ant-picker-separator {
  cursor: default !important;
}

// Navbar
.ant-layout-sider {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

[data-theme="yellow"] .ant-layout-sider {
  border-right: 1px solid #92783f;
}

// Scrollbar
*::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
  height: 5px; /* height of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #999; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.ant-table-sticky-scroll-bar {
  height: 5px;
  border-radius: 20px;
}

// Table
.ant-table-container table > thead > tr:first-child th:first-child {
  border-top-left-radius: 0;
}

.ant-table-container table > thead > tr:first-child th:last-child {
  border-top-right-radius: 0;
}

tr.custom-selected-row > td {
  background-color: #f0f0f0;
}

tr.ant-table-row.custom-selected-row:hover > td.ant-table-cell-row-hover {
  background-color: #e0e0e0;
}

// Menu
.layout-menu span,
.layout-menu svg {
  color: white !important;

  a {
    color: white !important;
  }

  + i {
    color: white !important;
  }
}

.menu-item span {
  color: white !important;

  a {
    color: white !important;
  }

  + i {
    color: white !important;
  }
  // background: #0070c0;
}

// Encabezados
.ant-page-header.header-container {
  padding: 0;

  .ant-page-header-heading-extra {
    display: flex;
    align-items: center;
  }

  .ant-space-item {
    min-width: 35px;
    // text-align: center;
  }
}

.header-container.no-padding {
  padding: 0px 0px 0px 0px;

  .ant-page-header-heading-extra {
    margin: 0;
  }
}

.header-title {
  display: inline-block;
  margin-bottom: 0 !important;

  .ant-image {
    height: 30px;
    width: auto;
    margin-right: 10px;

    img {
      height: 100%;
      width: auto;
      vertical-align: text-top;
    }
  }
}

.header-title-icon {
  margin-right: 10px;
}

.ant-page-header-heading-extra > * {
  margin-left: 12px !important;
}

.ant-divider.header-divider {
  margin: 12px 0;
  // border-top: 1px solid #b2b2b2;
}

// Buttons
.ant-col button ~ button {
  margin-left: 12px;
}

.ant-col button ~ .ant-image {
  margin-left: 12px;
}

//login

@media (min-width: 800px) {
  .trapecio-top {
    margin-top: 30px;
    width: 226px;
    height: 183px;
    border-bottom: 60px solid transparent;
    border-top: 60px solid transparent;
    border-left: 279px solid #a80505;
  }
  .vertical-line {
    width: 100px; /* Line width */
    background-color: #253b65; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    float: left; /* Causes the line to float to left of content. You can instead use position:absolute or display:inline-block if this fits better with your design */
  }

  .contenedor-formularios {
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    margin-left: 39%;
  }

  .contenedor {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 4px;
  }
}

@media (max-width: 800px) {
  .contenedor {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 4px;
  }

  .contenedor-input {
    position: relative;
    margin-bottom: 40px;
    margin-left: 50%;
  }
  .trapecio-top {
    margin-top: 30px;
    width: 226px;
    height: 183px;
    border-bottom: 60px solid transparent;
    border-top: 60px solid transparent;
    border-left: 279px solid #a80505;
  }
  .vertical-line {
    width: 100px; /* Line width */
    background-color: #253b65; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
    float: left; /* Causes the line to float to left of content. You can instead use position:absolute or display:inline-block if this fits better with your design */
  }

  .contenedor-formularios {
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    margin-left: 35%;
  }
  .dynamic-delete-button {
    position: relative;
    top: 4px;
    margin: 0 8px;
    color: #999;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .dynamic-delete-button:hover {
    color: #777;
  }
  .dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.row-dragging {
  background: #fafafa;
  border: 1px solid #ccc;
}
.ant-table-thead {
  background-color: #8f9492;
}

.header-expandable-table {
  .ant-table-thead .ant-table-cell {
    background-color: #d7dbd9;
  }
}

.row-dragging td {
  padding: 16px;
}

.row-dragging .drag-visible {
  visibility: visible;
}
.checkbox-vertical {
  .ant-checkbox-group-item {
    display: block;
    margin-right: 0;
  }
}

.ant-table-footer {
  border-bottom-width: 0;
  padding: 0 !important;
}

// .ant-descriptions.invoice-descriptions {
//   .ant-descriptions-row {
//     th,
//     td {
//       padding: 4px 4px;
//     }

//     td.number-desc {
//       padding-left: 11px;
//     }
//   }

//   .ant-descriptions-row:nth-child() {
//     th,
//     td {
//       // color: #ff4d4f;
//       font-weight: bold;
//     }
//   }
// }

// .ant-descriptions.invoice-descriptions {
//   .ant-descriptions-row {
//     th,
//     td {
//       padding: 4px 4px;
//     }

//     td.number-desc {
//       padding-left: 11px;
//     }
//   }

//   .ant-descriptions-row:nth-child() {
//     th,
//     td {
//       // color: #ff4d4f;
//       font-weight: bold;
//     }
//   }
// }

.ant-card.ant-card-bordered.ant-card-small.dashboard-card {
  border-radius: 10px;
  padding: 0;
  border-color: transparent;
}

.ant-row.ant-row-space-between.ant-row-middle.dashboard-card-title {
  background-color: #253b65;
  border-radius: 10px;
  padding: 0.625em;
}

.ant-typography.dashboard-card-text {
  font-size: 1.25em;
  color: #ffffff;
  font-weight: 500;
}

// .ant-typography.dashboard-chart-title {
//   font-size: 1.2em;
//   font-weight: bolder;
//   text-align: center;
//   margin: 0;
//   padding: 0;
// }

// .ant-typography.dashboard-chart-subtitle {
//   font-size: 0.7em;
//   text-align: center;
//   color: #aaa;
// }
